.toolbar {
	width: 100%;
	height: 50px;
	background: #333;
	display: block;
	padding: 0px 20px;
	border-bottom: 2px solid #2769a4;

}

.logo {
	color: darkgreen;
	padding: 5px;
	font-size: 24px;
	float: left;
}

.main-navigation {
	float: left;
	
	ul {
		padding: 5px;
		li {
			color: white;
			display: inline;
			padding: 5px;		
		}
	}
}

