!!!
%html
  %head
    %title AutonomousProgress • Make Autonomous Driving Happen
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
  = yield